[Desktop Entry]
Type=Application
Name=Sterna
GenericName=Terminal Emulator
Comment=Serial, SSH and telnet console with scripting and file transfer
Exec=sterna
Icon=sterna
Terminal=false
Categories=System;TerminalEmulator;
Keywords=serial;console;ssh;telnet;terminal;tty;modem;
StartupWMClass=sterna
