[Desktop Entry]
Type=Application
Name=termitta
GenericName=Terminal Emulator
Comment=Serial, SSH and telnet console with scripting and file transfer
Exec=termitta
Icon=termitta
Terminal=false
Categories=System;TerminalEmulator;
Keywords=serial;console;ssh;telnet;terminal;tty;modem;
StartupWMClass=termitta
